<div>
    <form #alunoForm="ngForm" (ngSubmit)="cadastrarAluno()">
      <label class="form-label">RA:</label>
      <input [(ngModel)]="RA" type="number" required>
  
      <label class="form-label">Nome:</label>
      <input [(ngModel)]="nome" type="text" class="form-control" required>
  
      <label class="form-label">E-mail:</label>
      <input [(ngModel)]="email" type="email" class="form-control" required>
  
      <label class="form-label">Celular:</label>
      <input [(ngModel)]="celular" type="number" class="form-control" required>
  
      <button type="submit" [disabled]="alunoForm.valid">Cadastrar</button>
    </form>
  </div>
  